body {
margin : 20;
}

h1,h2,x,y

}

h1 {
font-size: 50px;
}

h2 {
font-size: 30px;
}

x {
font-size: 20px;
}

y {
color: blue;
font-size: 20px;
}

button {
    margin-right: -5rem;
    height: 40px;
    width: 100px;
    border-radius: 22px;
    font-size: 20px;
}


button {
width: 1340px;
}


